---
---

<article class="petition">
  <h2 id="obama-stop-the-nsa"><strong>Obama:</strong> We call on you to dismantle the surveillance state before it's too late.</h2>
  <p>
    During the Obama administration, warrantless, unchecked spying programs have vastly expanded, giving the government more power than ever before to constantly monitor all of us by collecting our emails, texts, phone records, chats, real-time location, purchases, and other extremely private information en masse.
  </p>
  <p class="petition-statement">
    <strong>The potential for abuse is too high. Obama, you must start declassifying the U.S. mass surveillance programs and rolling them back before Trump takes office.</strong>
  </p>
  {% include form.html %}
</article>


<article class="dark">
  <h2 id="why-this-matters">What's at stake</h2>
  <p>
    The dystopian surveillance apparatus that the U.S. government has been constantly
    growing since 9-11 has always been wrong. Surveillance technology, often used
    without a warrant, has been repeatedly
    <a href="https://theintercept.com/2015/07/24/documents-show-department-homeland-security-monitoring-black-lives-matter-since-ferguson/" target="_blank">abused</a>
    to target specific racial, ethnic,
    and religious groups, as well as people speaking out from Black Lives Matter
    to Standing Rock. We’re collecting more data than we know what to do with.
    Experts
    <a href="https://theintercept.com/2015/11/17/u-s-mass-surveillance-has-no-record-of-thwarting-large-terror-attacks-regardless-of-snowden-leaks/" target="_blank">agree</a> this data overload is not effective at stopping violent attacks
    &mdash; and has undermined, rather than strengthened public safety and security.
    But it does give the government unprecedented power to suppress dissent and go
    after marginalized groups and individuals. In the hands of a Trump-led
    administration, these programs will become more dangerous than ever before.
  </p>
  <p>
    Too many of these programs operate shrouded in a dark cloud of secrecy, without
    meaningful oversight from the public, the courts, or even elected officials.
    The precedent set by expanding Executive Branch power during the last several
    administrations means that Donald Trump, and the officials he appoints, will be
    able to use these pervasive snooping programs for their own political ends,
    almost completely unrestricted, and without transparency.
  </p>
  <p>

    Regardless of your political beliefs, the potential for abuse of the U.S.
    Surveillance Establishment is too great to allow it to continue unchecked.
    If Obama wants to preserve any shred of his legacy, he must do the right
    thing and start rolling these secret mass surveillance programs back.
    <br/><br/>
  </p>

  <figure class="oliver">
    <div class="video">
      <iframe width="1280" height="720" src="//www.youtube.com/embed/2YsZoqwRnKE" frameborder="0" allowfullscreen></iframe>
    </div>
  </figure>
</article>

{% include share.html %}
