---
---

<article class="petition">
  <h2 id="obama-stop-the-nsa"><strong>Obama:</strong> We call on you to dismantle the surveillance state before it's too late.</h2>
  <p>
    The NSA has turned the Internet into a weapon, collecting everything it can. Emails, call records, texts—even our minute-by-minute physical location. Any electronic device can be hacked, and used to spy on us, undermining our ability to dissent, organize, or simply explore ideas. These programs expanded under your watch. <strong>Now you have a grave duty: shut them down, before Donald Trump takes office.</strong>
  </p>
  <!--
  <p class="petition-statement">
    <strong>The potential for abuse is too high. Obama, you must start declassifying the U.S. mass surveillance programs and rolling them back before Trump takes office.</strong>
  </p>
  -->
  {% include form.html %}
</article>


<article class="dark">
  <p><img src="/images/trump.jpg"></p>
  <h2 id="why-this-matters">What's at stake</h2>
  <p>
    The dystopian surveillance apparatus that the U.S. government has been constantly expanding since 9-11 has always been wrong. But now, it's more urgent than ever that we dismantle it. Regardless of your political beliefs, the potential for abuse is too great to allow it to continue unchecked.</p>
  <p>
    Specifically, President Obama should:
  </p>
  <ol>
    <li>Disclose mass surveillance programs, their plans for expansion, and their legal justification. America needs to know what it's up against.</li>
    <li>Delete the data stored on Americans, and demolish the physical infrastructure needed to collect this data. If Trump wants to spy on hundreds of millions of Americans, make him build this capacity from scratch.</li>
    <li>Pardon Edward Snowden, to encourage more whistleblowers to come forward if these systems continue growing out of control.</li>
  </ol>

  <figure class="oliver">
    <div class="video">
      <iframe width="1280" height="720" src="//www.youtube.com/embed/2YsZoqwRnKE" frameborder="0" allowfullscreen></iframe>
    </div>
  </figure>
</article>

{% include share.html %}
