---
class: content
title: 'Join the fight against mass surveillance before it''s too late.'
---

<article class="petition">
  <h2 id="cta">An Open Letter to Technology Companies</h2>
  <h3>Join the fight against mass surveillance before it's too late.</h3>
  <p>
    The undersigned organizations and inviduals believe that mass surveillance
    has gone too far under the Bush and Obama administrations. We call upon our
    technology leaders to improve security and implement
    strong encryption to protect our digital lives from the rising threat of foreign hackers and domestic surveillance.

  </p>
  <!--
  <p class="petition-statement">
    <strong>The potential for abuse is too high. Obama, you must start declassifying the U.S. mass surveillance programs and rolling them back before Trump takes office.</strong>
  </p>
  -->
  {% include form_letter.html %}
</article>


<article class="dark">
  <h2 id="letter">Read the Letter:</h2>

  <div class="letter">
    <p>
      <strong>November 18th, 2016<br/>RE: Encryption and Internet Security</strong>
    </p>
    <p>
      Dear Technology Leaders,
    </p>
    <p>
      Private companies are critical linchpins in the current apparatus of mass
      surveillance. Laws like the Electronic Communications Privacy Act, the
      USA PATRIOT Act, and the FISA Amendments Act of 2008 force companies to
      search and hand over information they hold on their users’ behalf,
      independent of the constitutional and international rights of those users.
      Some of this information is required, by law, to be retained by companies,
      but much of it is not. Sadly, some companies have developed business models
      around providing surveillance beyond the scope of what is appropriate and
      required by law.
    </p>
    <p>
      As America steps toward President-elect Trump’s time leading this country,
      his campaign promises of mass persecution and discriminatory surveillance
      cannot be forgotten. The right to privacy has never been more important&mdash;or
      more imperilled.
    </p>
    <p>
      You are the frontline of this fight. You did not ask to be, but mass
      surveillance as it functions today depends not only on the aggression of
      the government, but also on your cooperation. Your users, especially those
      whom candidate Trump has promised to surveil, cannot afford to use your
      services or support your company in the absence of a commitment to protect
      their privacy.
    </p>
    <p>
      Accordingly, we call on you to:
    </p>
    <ol>
      <li>
        Retain information only to the extent that it is legally required;
      </li>
      <li>
        Purge all information that you are not required to retain by law that is
        not necessary to provide your products and services;
      </li>
      <li>
        Pledge to fight overly broad, questionable, and illegal efforts to surveil
        your users, in the courts and in public;
      </li>
      <li>
        Implement robust, publicly auditable encryption, so that both legal and
        illegal efforts to circumvent your role, or to force your cooperation in
        spite of the law, do not endanger your users; and
      </li>
      <li>
        Hardware vendors: take endpoint security seriously and only sell
        Internet-connected devices that receive regular critical security
        updates to protect users from foreign hackers and identity thieves.
      </li>
    </ol>
    <p>
      We celebrate the commitment of companies that have taken these steps already,
      which have proven that ensuring user privacy is not only possible, but wise.
      We urge you to join them, and us, as we continue the fight against
      warrantless, mass, and discriminatory surveillance.
    </p>
    <p>Sincerely,</p>
    <ul>
      <li>
        <img src="/images/logo.png"/>
      </li>
      <li>
        <img src="/images/dp.png"/>
      </li>
    </ul>
    <p class="signatories">&hellip; and <strong>16,384 action takers.</strong></p>
  </div>

</article>

{% include share.html %}
