---
class: content
---

<article class="petition">
  <h2 id="cta">An Open Letter to Technology Companies</h2>
  <h3>Join the fight against mass surveillance before it's too late.</h3>
  <p>
    The undersigned organizations and inviduals believe that mass surveillance
    has come too far under the Bush and Obama administrations. We call upon our
    leaders in technology companies to improve security and implement
    strong encryption to protect our digital lives from the rising threat of foreign hackers and domestic surveillance.

  </p>
  <!--
  <p class="petition-statement">
    <strong>The potential for abuse is too high. Obama, you must start declassifying the U.S. mass surveillance programs and rolling them back before Trump takes office.</strong>
  </p>
  -->
  {% include form_letter.html %}
</article>


<article class="dark">
  <h2 id="letter">Read the Letter:</h2>

  <div class="letter">
    <p>
      <strong>November 18th, 2016<br/>RE: Encryption and Internet Security</strong>
    </p>
    <p>
      Dear Technology Company Leaders,
    </p>
    <p>
      This letter is not complete. In fact, this is a total work in progress.
      Rather than paste any text in here that could be controversial, I hope this
      serves as a proof of concept of what the letter will look like while the
      language is finalized by smarter and more capable men and women than myself.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    <p>Sincerely,</p>
    <ul>
      <li>
        <img src="/images/logo.png"/>
      </li>
      <li>
        <img src="/images/dp.png"/>
      </li>
    </ul>
    <p class="signatories">&hellip; and <strong>16,384 action takers.</strong></p>
  </div>

</article>

{% include share.html %}
