---
sharetitle: 'Petition: Don''t let FOX make it impossible to fight DMCA takedowns!'
sharedescription: 'They''re stealing content, taking it down, and trying to make it impossible to fight back.'
shareimage: https://www.takedownabuse.org/images/familyguy_share.png
twittertext: 'FOX stole a gaming clip, used it in Family Guy and DMCA'd the original video. This kind of takedown abuse has to end'
---
<div class="banner familyguy"></div>
<article class="petition less-pad">
  <h2 id="save-fair-use"><strong>Sign the petition</strong> &mdash; Don't let FOX make it impossible to fight DMCA takedowns!</h2>
  <p>
    FOX stole a gaming clip, used it in <em>The Family Guy</em> and then issued a DMCA takedown on the original YouTube video (<a target="_blank" href="https://torrentfreak.com/fox-stole-a-game-clip-used-it-in-family-guy-dmcad-the-original-160520/">read more</a>).
    At the same time, lobbyists for the media industry are swarming the U.S. Copyright Office and demanding
    an end to the counter-notice process that people can use to fight these unfair takedowns. Instead,
    they want to force website owners to block all content they <strong>say</strong> is copyrighted (which is clearly often wrong).
  </p>
  <p class="petition-statement">
    <strong>
      <u>Tell the U.S. Copyright Office:</u> Takedown abuse is out of control. There should be strict penalties on false takedowns to protect fair use. Don't make the DMCA even worse by implementing a "staydown" rule that turns web sites into copyright cops!

    </strong>
  </p>
  <form action="https://actionnetwork.org/petitions/reform-the-dmca-family-guy-petition/signatures" method="post" title="Save Fair Use on the Internet" data-identifier="b89ce783-3fc3-4fe1-961c-aba52c6d7f4c" data-host="{{ site.petitions_api }}">
    <label for="select-country" id="hidden-country">
      Not in the US?
      <input type="hidden" value="US" name="answer[country]" />
    </label>

    <label class="visually-hidden" for="form-email">Your email address:</label>
    <input type="email" id="form-email" name="answer[email]" placeholder="Email address" required/>

    <label class="visually-hidden" for="form-first_name">Your name:</label>
    <input type="text" id="form-first_name" name="answer[first_name]" placeholder="Name (required)"/>

    <label class="visually-hidden" for="form-zip_code">Your ZIP:</label>
    <input type="text" id="form-zip_code" name="answer[zip_code]" placeholder="ZIP" required/>

    <select id="select-country">
      {% for country in site.data.countries %}
      <option value="{{ country[0] }}" {% if country[0] == 'US' %} selected{% endif %}>
      {{ country[1] }}
      </option>
      {% endfor %}
    </select>

    <label for="form-comments">Your comment: <span>(Why is DMCA reform important to you? How is the law being abused?)</span></label>
    <textarea name="signature[message_to_target]" id="form-comments" cols="46" rows="3" placeholder="Your comment to the U.S. Copyright Office"></textarea>

    <input type="submit" id="im-in" value="Send Comment" name="commit" />
    <p class="disclaimer">
      <a href="https://fightforthefuture.org/">Fight for the Future</a> will send your comment to the U.S. Copyright Office when the next round of commenting opens up. Your comment will be entered into a public docket. We will email you campaign updates. <a href="https://www.fightforthefuture.org/privacy">Privacy policy</a>
    </p>
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="authenticity_token" value="0T4Obtb0NSc88GcP+W4S67iTV1B9UhTVWbk6UjKj7+o="/>
    <input type="hidden" name="subscription[tag_list]" value='["copyright"]'/>
    <input type="hidden" name="subscription[group]" value="13162" id="name_optin1" />
    <input type="hidden" name="subscription[sub_group_id]" value="13162">
    <input type="hidden" name="subscription[http_referer]" value="{{ site.url }}{{ page.url }}"/>
    <input type="hidden" name="subscription[source]" value="www"/>
  </form>




</article>


<article class="stories" id="dmca-horror-stories">
  <h2>DMCA Horror Stories</h2>
  <p>
    <a class="prev" id="story-prev" href="#">&lsaquo;</a>
    <a class="next" id="story-next" href="#">&rsaquo;</a>
  </p>
  <div id="story"></div>
  <script type="text/javascript">
    var storyUrls = [
      {% for page in site.stories %}{% if page.class != 'toc' %}
        '{{ page.url }}',
      {% endif %}{% endfor %}
    ];
  </script>
  <p>
    <strong>
      <a href="/stories/toc">Read more stories</a>
      <span class="divider">|</span>
      <a href="https://docs.google.com/forms/d/18z4-YyRmhJvjm4U5htHVVcXM2wpE_IiidXfHH9Jn0JU/viewform" target="_blank">Submit your story!</a>
    </strong>
  </p>
</article>

<article class="dark">
  <h2 id="why-this-matters">What's at stake</h2>
  <p>
    The Internet flourishes because of all of the stuff people make and share. But, there's a force that has kept works off the Internet entirely,
    making it so that there's a whole host of content that most us never get to see or hear.  The current notice and takedown system for copyright
    unnecessarily
    allows for abuse. With the current DMCA rules, copyright holders can censor and takedown practically any online content,
    just by <strong>saying</strong> that it infringes their copyright&mdash;no court order or oversight required. <strong>It's time to bring fair use back to the Internet.</strong>
  </p>
  <p>
    The DMCA was created to help curb
    piracy, but all too often it is abused to censor content with valid free speech or fair use rights. Video and music creators are having their
    work taken down and their income stolen by big corporations who bet that nobody has the legal resources to challenge them. And even when people
    successfully challenge a takedown and get their work restored, oftentimes there is lasting harm done to their reputation or income.
  </p>
  <p>

    It's time to take a hard look
    at the DMCA. A clear fix to the current system is to impose penalties on corporations who abuse the DMCA by issuing false takedowns.
    <br/><br/>
  </p>

  <figure class="oliver">
    <div class="video">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/oYWNtkls2Jw" frameborder="0" allowfullscreen></iframe>
    </div>
  </figure>
</article>

{% include share.html %}
