<form action="https://actionnetwork.org/petitions/unplug-the-nsa/signatures" method="post" title="Save Fair Use on the Internet" data-identifier="1a592553-c5eb-423b-90bf-58ecc3a66ddc" data-host="{{ site.petitions_api }}">
  <label for="select-country" id="hidden-country">
    Not in the US?
    <input type="hidden" value="US" name="answer[country]" />
  </label>

  <label class="visually-hidden" for="form-email">Your email address:</label>
  <input type="email" id="form-email" name="answer[email]" placeholder="Email address" required/>

  <label class="visually-hidden" for="form-first_name">Your name:</label>
  <input type="text" id="form-first_name" name="answer[first_name]" placeholder="Name (required)"/>

  <label class="visually-hidden" for="form-zip_code">Your ZIP:</label>
  <input type="text" id="form-zip_code" name="answer[zip_code]" placeholder="ZIP" required/>

  <select id="select-country">
    {% for country in site.data.countries %}
    <option value="{{ country[0] }}" {% if country[0] == 'US' %} selected{% endif %}>
    {{ country[1] }}
    </option>
    {% endfor %}
  </select>

  <label for="form-comments">Your comment: <span>(Why is surveillance reform important to you? How is the law being abused?)</span></label>
  <textarea name="signature[message_to_target]" id="form-comments" cols="46" rows="3" placeholder="Your comment to President Obama"></textarea>

  <input type="submit" id="im-in" value="Send Comment" name="commit" />
  <p class="disclaimer">
    <a href="https://fightforthefuture.org/">Fight for the Future</a> will send your comment to President Obama. We will email you campaign updates. <a href="https://www.fightforthefuture.org/privacy">Privacy policy</a>
  </p>
  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="authenticity_token" value="0T4Obtb0NSc88GcP+W4S67iTV1B9UhTVWbk6UjKj7+o="/>
  <input type="hidden" name="subscription[tag_list]" value='["surveillance"]'/>
  <input type="hidden" name="subscription[group]" value="13162" id="name_optin1" />
  <input type="hidden" name="subscription[sub_group_id]" value="13162">
  <input type="hidden" name="subscription[http_referer]" value="{{ site.url }}{{ page.url }}"/>
  <input type="hidden" name="subscription[source]" value="www"/>
</form>
