<header>
  <div id="banner">
    <div id="digits_background">00.00:00:00</div>
    <div id="remaining">00.00:00:00</div>
    <div class="label">Days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hour&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Min&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sec</div>
  </div>
  <h1>Until Donald Trump takes over the NSA.</h1>
  <a href="#obama-stop-the-nsa" class="jump-link">
    <p>Take action to dismantle mass surveillance.</p>
    <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84 84"><path class="st0" d="M40.6 55.4c.4.4.9.6 1.4.6s1-.2 1.4-.6l18-18c.8-.8.8-2 0-2.8s-2-.8-2.8 0L42 51.2 25.4 34.6c-.8-.8-2-.8-2.8 0s-.8 2 0 2.8l18 18z"/><path class="st0" d="M0 42c0 22.8 19.2 42 42 42s42-19.2 42-42S64.8 0 42 0 0 19.2 0 42zM42 4c20.6 0 38 17.4 38 38S62.6 80 42 80 4 62.6 4 42 21.4 4 42 4z"/></svg>
  </a>
</header>
