{% capture title %}{% if page.title %}{{ page.title }} |{% endif %}{{ site.name }}{% endcapture %}
{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
{% capture shareimage %}{% if page.shareimage %}{{ page.shareimage }}{% else %}{% if site.shareimage %}{{ site.shareimage }}{% else %}{{ site.url }}/images/trump.jpg{% endif %}{% endif %}{% endcapture %}
{% capture sharetitle %}{% if page.sharetitle %}{{ page.sharetitle }}{% else %}{% if site.sharetitle %}{{ site.sharetitle }}{% else %}{{ title }}{% endif %}{% endif %}{% endcapture %}
{% capture sharedescription %}{% if page.sharedescription %}{{ page.sharedescription }}{% else %}{% if site.sharedescription %}{{ site.sharedescription }}{% else %}{{ description }}{% endif %}{% endif %}{% endcapture %}
{% capture twittertext %}{% if page.twittertext %}{{ page.twittertext }}{% else %}{% if site.twittertext %}{{ site.twittertext }}{% else %}{{ sharetitle }}—{{ sharedescription }}{% endif %}{% endif %}{% endcapture %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<!-- *** social meta *** -->
<!-- facebook -->
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ shareimage }}" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="400" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:title" content="{{ sharetitle }}" />
<meta property="og:description" content="{{ sharedescription }}" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.author.twitter }}">
<meta name="twitter:title" content="{{ sharetitle }}">
<meta name="twitter:description" content="{{ sharedescription }}"/>
<meta name="twitter:image" content="{{ shareimage }}">
<meta name="twitter:domain" content="{{ site.url | remove:'http://' | remove:'https://' }}">
<meta name="twitter:account_id" content="{{ site.author.twitterid }}" />
<meta name="twitter:text" content="{{ twittertext }}" />

<!-- google -->
<meta itemprop="name" content="{{ sharetitle }}">
<meta itemprop="description" content="{{ sharedescription }}">
<meta itemprop="image" content="{{ site.url }}/images/lock-bg.png">
<link rel="publisher" href="https://plus.google.com/{{ site.author.googleid }}">
<!-- /*** social meta *** -->


<link rel="stylesheet" href="/css/core.css">
<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet" type="text/css">
